/* 
    Stylesheet for The Real Papa Game, 
    a special edition of the snake game.
    created by MrsMonkey95 on 09.04.2021
*/

/*  Just a black background center aligned... */

body {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #18181a;
    text-align: left;
}

h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vh;
    font-style: normal;
    color: #bffffd;
}

p {
    text-align: left;
}

/* Flex container 1 */

.master-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topnav {
    background-color: black;
    height: 6vh;
    overflow: visible;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
    font-style: normal;
    color: #00A79D;
    text-align: center;
}

/* Flex container 2 */

.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #18181a;
    height: 94vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    /*position: relative;*/
}

/* Flex container 3 */

.itemBox {
    display: flex;
    width: 94vh;
    align-items: center;
    padding: 0;
    margin: 0;
}

/*  
        Maintaining a square shaped game area through vw 
        TO DO Change background image 
    */

.game-space {
    background-image: url("images/space.jpg");
    background-size: cover;
    height: 94vh;
    width: 94vh;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    /*position: absolute;*/
}

/*  Papa gonna eat that moonies! */

.papa {
    background-image: url("images/papa_wizard.png");
    background-size: cover;
    border: none;
}

/*  So the food will be moonies, what else? */

.moonies {
    background-image: url("images/moonie.png");
    background-size: cover;
    border: none;
}

.lgbtmoonies {
    background-image: url("images/rainbow.png");
    background-size: cover;
    border: none;
}

.highscore {
    background-color: #18181a;
    height: 94vh;
    width: 47vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vh;
    font-style: normal;
    color: #bffffd;
    justify-content: center;
    text-align: center;
    /*flex-grow: 1;*/
}

/* Flex container 4 */

.flex-options {
    display: flex;
    width: 47vh;
    height: 94vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-style: normal;
    color: #bffffd;
    /*align-items: flex-start;*/
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    margin: 0;
    /*flex-grow:  1;*/
}

.opt1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-style: normal;
    color: #bffffd;
    height: 46vh;
}

.opt2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-style: normal;
    color: #bffffd;
    height: 46vh;
}

.opt3 {
    height: 2vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vh;
    font-style: normal;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    color: #bffffd;
}